<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter.
      {% endcomment %}
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% assign category_path = node.url | split:'/' | first %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ category_path }}/{{ node.url | remove_first: '/' }}">
              {{ node.title }}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <hr>

      {% comment %}
        The code below dynamically generates a list of categories.
      {% endcomment %}
      
      <h2>Categories</h2>
      <ul>
        {% for category in site.categories %}
          <li>
            <a class="sidebar-nav-item" href="{{ '/categories/' | append: category[0] | slugify | relative_url }}">
              {{ category[0] }} ({{ category[1].size }})
            </a>
          </li>
        {% endfor %}
      </ul>
      <hr>

      <a class="sidebar-nav-item" href="https://github.com/easyhhoney/easyhhoney.github.io/projects?query=is%3Aopen">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>